@font-face {
  font-family: "iconfont"; /* Project id 5118443 */
  src: url('iconfont.woff2?t=1772268917050') format('woff2'),
       url('iconfont.woff?t=1772268917050') format('woff'),
       url('iconfont.ttf?t=1772268917050') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiajiantou:before {
  content: "\e656";
}

.icon-tianjia:before {
  content: "\e62d";
}

.icon-shanchu:before {
  content: "\e61a";
}

.icon-sousuo:before {
  content: "\e602";
}

