.visible {
    visibility: visible
}
.collapse {
    visibility: collapse
}
.fixed {
    position: fixed
}
.absolute {
    position: absolute
}
.relative {
    position: relative
}
.inset-0 {
    inset: 0px
}
.-top-3 {
    top: -12px
}
.bottom-0 {
    bottom: 0px
}
.bottom-1 {
    bottom: 4px
}
.bottom-3 {
    bottom: 12px
}
.left-0 {
    left: 0px
}
.left-0\.5 {
    left: 2px
}
.left-1\/2 {
    left: 50%
}
.left-3 {
    left: 12px
}
.right-0 {
    right: 0px
}
.right-2 {
    right: 8px
}
.right-3 {
    right: 12px
}
.right-5 {
    right: 20px
}
.top-0 {
    top: 0px
}
.top-0\.5 {
    top: 2px
}
.top-1\/2 {
    top: 50%
}
.top-3 {
    top: 12px
}
.z-10 {
    z-index: 10
}
.z-\[100\] {
    z-index: 100
}
.z-\[2\] {
    z-index: 2
}
.z-\[99\] {
    z-index: 99
}
.m-0 {
    margin: 0px
}
.m-2 {
    margin: 8px
}
.mx-1 {
    margin-left: 4px;
    margin-right: 4px
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-0 {
    margin-top: 0px;
    margin-bottom: 0px
}
.mb-2 {
    margin-bottom: 8px
}
.mb-2\.5 {
    margin-bottom: 10px
}
.mb-3 {
    margin-bottom: 12px
}
.mb-4 {
    margin-bottom: 16px
}
.mb-xl {
    margin-bottom: 24px
}
.ml-1 {
    margin-left: 4px
}
.ml-1\.5 {
    margin-left: 6px
}
.ml-2 {
    margin-left: 8px
}
.ml-2\.5 {
    margin-left: 10px
}
.ml-3 {
    margin-left: 12px
}
.ml-md {
    margin-left: 12px
}
.mr-0 {
    margin-right: 0px
}
.mr-1 {
    margin-right: 4px
}
.mr-2 {
    margin-right: 8px
}
.mr-3 {
    margin-right: 12px
}
.mr-4 {
    margin-right: 16px
}
.mr-6 {
    margin-right: 24px
}
.mr-md {
    margin-right: 12px
}
.mr-sm {
    margin-right: 8px
}
.mt-12 {
    margin-top: 48px
}
.mt-2 {
    margin-top: 8px
}
.mt-2\.5 {
    margin-top: 10px
}
.mt-3 {
    margin-top: 12px
}
.mt-5 {
    margin-top: 20px
}
.mt-6 {
    margin-top: 24px
}
.mt-xs {
    margin-top: 4px
}
.box-border {
    box-sizing: border-box
}
.block {
    display: block
}
.inline-block {
    display: inline-block
}
.inline {
    display: inline
}
.flex {
    display: flex
}
.inline-flex {
    display: inline-flex
}
.grid {
    display: grid
}
.\!hidden {
    display: none !important
}
.hidden {
    display: none
}
.h-1 {
    height: 4px
}
.h-10 {
    height: 40px
}
.h-11 {
    height: 44px
}
.h-14 {
    height: 56px
}
.h-2 {
    height: 8px
}
.h-24 {
    height: 96px
}
.h-3 {
    height: 12px
}
.h-32 {
    height: 128px
}
.h-4 {
    height: 16px
}
.h-5 {
    height: 20px
}
.h-6 {
    height: 24px
}
.h-7 {
    height: 28px
}
.h-8 {
    height: 32px
}
.h-9 {
    height: 36px
}
.h-auto {
    height: auto
}
.h-full {
    height: 100%
}
.min-h-0 {
    min-height: 0px
}
.min-h-12 {
    min-height: 48px
}
.min-h-40 {
    min-height: 160px
}
.min-h-page {
    min-height: 1000px
}
.w-0 {
    width: 0px
}
.w-1 {
    width: 4px
}
.w-10 {
    width: 40px
}
.w-11 {
    width: 44px
}
.w-14 {
    width: 56px
}
.w-2 {
    width: 8px
}
.w-24 {
    width: 96px
}
.w-3 {
    width: 12px
}
.w-32 {
    width: 128px
}
.w-4 {
    width: 16px
}
.w-5 {
    width: 20px
}
.w-6 {
    width: 24px
}
.w-7 {
    width: 28px
}
.w-8 {
    width: 32px
}
.w-9 {
    width: 36px
}
.w-full {
    width: 100%
}
.w-icon {
    width: 24px
}
.w-version {
    width: 34px
}
.min-w-0 {
    min-width: 0px
}
.min-w-10 {
    min-width: 40px
}
.min-w-theme {
    min-width: 74px
}
.max-w-48 {
    max-width: 192px
}
.flex-1 {
    flex: 1 1 0%
}
.shrink-0 {
    flex-shrink: 0
}
.grow-0 {
    flex-grow: 0
}
.basis-auto {
    flex-basis: auto
}
.origin-center {
    transform-origin: center
}
.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.translate-x-1\/2 {
    --tw-translate-x: 50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.-rotate-90 {
    --tw-rotate: -90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.rotate-180 {
    --tw-rotate: 180deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
@keyframes fade-in-soft {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
    100% {
        opacity: 0.65;
        transform: translateY(0)
    }
}
.animate-fade-in-soft {
    animation: fade-in-soft 0.5s ease forwards
}
@keyframes notice-scroll {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-100%)
    }
}
.animate-notice-scroll {
    animation: notice-scroll 10s linear infinite
}
@keyframes shake-soft {
    0%, 100% {
        transform: translateX(0)
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-4px)
    }
    20%, 40%, 60%, 80% {
        transform: translateX(-4px)
    }
}
.animate-shake-soft {
    animation: shake-soft 0.5s ease-in-out
}
@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}
.animate-spin {
    animation: spin 1s linear infinite
}
.cursor-default {
    cursor: default
}
.cursor-not-allowed {
    cursor: not-allowed
}
.cursor-pointer {
    cursor: pointer
}
.touch-none {
    touch-action: none
}
.select-none {
    -webkit-user-select: none;
            user-select: none
}
.resize-none {
    resize: none
}
.appearance-none {
    -webkit-appearance: none;
            appearance: none
}
.flex-row {
    flex-direction: row
}
.flex-col {
    flex-direction: column
}
.flex-wrap {
    flex-wrap: wrap
}
.items-start {
    align-items: flex-start
}
.items-end {
    align-items: flex-end
}
.items-center {
    align-items: center
}
.justify-start {
    justify-content: flex-start
}
.justify-end {
    justify-content: flex-end
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.justify-around {
    justify-content: space-around
}
.gap-1 {
    gap: 4px
}
.gap-2 {
    gap: 8px
}
.gap-2\.5 {
    gap: 10px
}
.gap-4 {
    gap: 16px
}
.gap-6 {
    gap: 24px
}
.gap-7 {
    gap: 28px
}
.overflow-hidden {
    overflow: hidden
}
.overflow-visible {
    overflow: visible
}
.overflow-x-auto {
    overflow-x: auto
}
.overflow-y-auto {
    overflow-y: auto
}
.overflow-y-hidden {
    overflow-y: hidden
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.text-ellipsis {
    text-overflow: ellipsis
}
.whitespace-nowrap {
    white-space: nowrap
}
.break-words {
    overflow-wrap: break-word
}
.break-all {
    word-break: break-all
}
.rounded {
    border-radius: 4px
}
.rounded-full {
    border-radius: 9999px
}
.rounded-lg {
    border-radius: 8px
}
.rounded-md {
    border-radius: 6px
}
.rounded-none {
    border-radius: 0px
}
.rounded-pill {
    border-radius: 999px
}
.rounded-xl {
    border-radius: 12px
}
.rounded-t-xl {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}
.border {
    border-width: 1px
}
.border-0 {
    border-width: 0px
}
.border-2 {
    border-width: 2px
}
.border-y {
    border-top-width: 1px;
    border-bottom-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-l {
    border-left-width: 1px
}
.border-t {
    border-top-width: 1px
}
.border-t-8 {
    border-top-width: 8px
}
.border-solid {
    border-style: solid
}
.border-none {
    border-style: none
}
.border-blue-200 {
    --tw-border-opacity: 1;
    border-color: rgb(191 219 254 / var(--tw-border-opacity, 1))
}
.border-blue-500 {
    --tw-border-opacity: 1;
    border-color: rgb(59 130 246 / var(--tw-border-opacity, 1))
}
.border-border {
    border-color: var(--tui-border)
}
.border-border-soft {
    border-color: var(--tui-border-soft)
}
.border-divider {
    --tw-border-opacity: 1;
    border-color: rgb(232 232 232 / var(--tw-border-opacity, 1))
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}
.border-green-200 {
    --tw-border-opacity: 1;
    border-color: rgb(187 247 208 / var(--tw-border-opacity, 1))
}
.border-green-500 {
    --tw-border-opacity: 1;
    border-color: rgb(34 197 94 / var(--tw-border-opacity, 1))
}
.border-orange-200 {
    --tw-border-opacity: 1;
    border-color: rgb(254 215 170 / var(--tw-border-opacity, 1))
}
.border-orange-400 {
    --tw-border-opacity: 1;
    border-color: rgb(251 146 60 / var(--tw-border-opacity, 1))
}
.border-red-200 {
    --tw-border-opacity: 1;
    border-color: rgb(254 202 202 / var(--tw-border-opacity, 1))
}
.border-red-400 {
    --tw-border-opacity: 1;
    border-color: rgb(248 113 113 / var(--tw-border-opacity, 1))
}
.border-transparent {
    border-color: transparent
}
.border-white-20 {
    border-color: rgba(255, 255, 255, 0.2)
}
.border-white-24 {
    border-color: rgba(255, 255, 255, 0.24)
}
.border-white-30 {
    border-color: rgba(255, 255, 255, 0.3)
}
.border-white-90 {
    border-color: rgba(255, 255, 255, 0.9)
}
.border-white-92 {
    border-color: rgba(255, 255, 255, 0.92)
}
.border-zinc-300 {
    --tw-border-opacity: 1;
    border-color: rgb(212 212 216 / var(--tw-border-opacity, 1))
}
.border-zinc-400 {
    --tw-border-opacity: 1;
    border-color: rgb(161 161 170 / var(--tw-border-opacity, 1))
}
.border-t-blue-500 {
    --tw-border-opacity: 1;
    border-top-color: rgb(59 130 246 / var(--tw-border-opacity, 1))
}
.bg-\[\#c0c4cc\] {
    --tw-bg-opacity: 1;
    background-color: rgb(192 196 204 / var(--tw-bg-opacity, 1))
}
.bg-\[\#f5f7fa\] {
    --tw-bg-opacity: 1;
    background-color: rgb(245 247 250 / var(--tw-bg-opacity, 1))
}
.bg-black\/50 {
    background-color: rgb(0 0 0 / 0.5)
}
.bg-blue-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1))
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}
.bg-green-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 253 244 / var(--tw-bg-opacity, 1))
}
.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}
.bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(251 146 60 / var(--tw-bg-opacity, 1))
}
.bg-orange-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(255 247 237 / var(--tw-bg-opacity, 1))
}
.bg-page {
    background-color: var(--tui-page-bg)
}
.bg-red-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity, 1))
}
.bg-red-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1))
}
.bg-surface {
    background-color: var(--tui-surface)
}
.bg-teal-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(20 184 166 / var(--tw-bg-opacity, 1))
}
.bg-transparent {
    background-color: transparent
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}
.bg-white-12 {
    background-color: rgba(255, 255, 255, 0.12)
}
.bg-white-20 {
    background-color: rgba(255, 255, 255, 0.2)
}
.bg-white-90 {
    background-color: rgba(255, 255, 255, 0.9)
}
.bg-white-92 {
    background-color: rgba(255, 255, 255, 0.92)
}
.bg-zinc-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 245 / var(--tw-bg-opacity, 1))
}
.bg-zinc-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(161 161 170 / var(--tw-bg-opacity, 1))
}
.bg-header-overlay {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%)
}
.bg-none {
    background-image: none
}
.bg-page-gradient {
    background-image: linear-gradient(135deg, var(--tui-page-gradient-start) 0%, var(--tui-page-gradient-end) 100%)
}
.p-0 {
    padding: 0px
}
.p-2 {
    padding: 8px
}
.p-3 {
    padding: 12px
}
.p-4 {
    padding: 16px
}
.p-5 {
    padding: 20px
}
.p-7 {
    padding: 28px
}
.px-0 {
    padding-left: 0px;
    padding-right: 0px
}
.px-1 {
    padding-left: 4px;
    padding-right: 4px
}
.px-2 {
    padding-left: 8px;
    padding-right: 8px
}
.px-2\.5 {
    padding-left: 10px;
    padding-right: 10px
}
.px-3 {
    padding-left: 12px;
    padding-right: 12px
}
.px-4 {
    padding-left: 16px;
    padding-right: 16px
}
.px-5 {
    padding-left: 20px;
    padding-right: 20px
}
.px-8 {
    padding-left: 32px;
    padding-right: 32px
}
.px-lg {
    padding-left: 16px;
    padding-right: 16px
}
.py-0\.5 {
    padding-top: 2px;
    padding-bottom: 2px
}
.py-1 {
    padding-top: 4px;
    padding-bottom: 4px
}
.py-1\.5 {
    padding-top: 6px;
    padding-bottom: 6px
}
.py-12 {
    padding-top: 48px;
    padding-bottom: 48px
}
.py-2 {
    padding-top: 8px;
    padding-bottom: 8px
}
.py-2\.5 {
    padding-top: 10px;
    padding-bottom: 10px
}
.py-20 {
    padding-top: 80px;
    padding-bottom: 80px
}
.py-24 {
    padding-top: 96px;
    padding-bottom: 96px
}
.py-3 {
    padding-top: 12px;
    padding-bottom: 12px
}
.py-4 {
    padding-top: 16px;
    padding-bottom: 16px
}
.py-8 {
    padding-top: 32px;
    padding-bottom: 32px
}
.py-lg {
    padding-top: 16px;
    padding-bottom: 16px
}
.py-sm {
    padding-top: 8px;
    padding-bottom: 8px
}
.py-xs {
    padding-top: 4px;
    padding-bottom: 4px
}
.pb-2 {
    padding-bottom: 8px
}
.pb-4 {
    padding-bottom: 16px
}
.pb-8 {
    padding-bottom: 32px
}
.pl-0 {
    padding-left: 0px
}
.pl-xs {
    padding-left: 4px
}
.pr-0 {
    padding-right: 0px
}
.pt-10 {
    padding-top: 40px
}
.pt-2 {
    padding-top: 8px
}
.pt-3 {
    padding-top: 12px
}
.pt-4 {
    padding-top: 16px
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
.text-right {
    text-align: right
}
.text-justify {
    text-align: justify
}
.text-2xl {
    font-size: 24px;
    line-height: 32px
}
.text-3xl {
    font-size: 30px;
    line-height: 36px
}
.text-base {
    font-size: 16px;
    line-height: 24px
}
.text-hero {
    font-size: 32px;
    line-height: 40px
}
.text-lg {
    font-size: 18px;
    line-height: 26px
}
.text-md {
    font-size: 16px;
    line-height: 24px
}
.text-sm {
    font-size: 14px;
    line-height: 20px
}
.text-xl {
    font-size: 20px;
    line-height: 28px
}
.text-xs {
    font-size: 12px;
    line-height: 18px
}
.font-bold {
    font-weight: 700
}
.font-light {
    font-weight: 300
}
.font-medium {
    font-weight: 500
}
.font-normal {
    font-weight: 400
}
.font-semibold {
    font-weight: 600
}
.italic {
    font-style: italic
}
.leading-5 {
    line-height: 20px
}
.leading-6 {
    line-height: 24px
}
.leading-\[1\.5\] {
    line-height: 1.5
}
.leading-none {
    line-height: 1
}
.leading-normal {
    line-height: 1.5
}
.leading-relaxed {
    line-height: 1.625
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity, 1))
}
.text-disabled {
    color: var(--tui-text-disabled)
}
.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1))
}
.text-green-500 {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity, 1))
}
.text-inverse {
    color: var(--tui-text-inverse)
}
.text-orange-400 {
    --tw-text-opacity: 1;
    color: rgb(251 146 60 / var(--tw-text-opacity, 1))
}
.text-primary {
    color: var(--tui-text-primary)
}
.text-red-400 {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity, 1))
}
.text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity, 1))
}
.text-secondary {
    color: var(--tui-text-secondary)
}
.text-tertiary {
    color: var(--tui-text-tertiary)
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}
.text-white-80 {
    color: rgba(255, 255, 255, 0.8)
}
.text-white-90 {
    color: rgba(255, 255, 255, 0.9)
}
.text-white-92 {
    color: rgba(255, 255, 255, 0.92)
}
.text-white-95 {
    color: rgba(255, 255, 255, 0.95)
}
.text-zinc-400 {
    --tw-text-opacity: 1;
    color: rgb(161 161 170 / var(--tw-text-opacity, 1))
}
.underline {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline
}
.line-through {
    -webkit-text-decoration-line: line-through;
            text-decoration-line: line-through
}
.opacity-0 {
    opacity: 0
}
.opacity-10 {
    opacity: 0.1
}
.opacity-100 {
    opacity: 1
}
.opacity-40 {
    opacity: 0.4
}
.opacity-50 {
    opacity: 0.5
}
.opacity-60 {
    opacity: 0.6
}
.opacity-65 {
    opacity: 0.65
}
.opacity-90 {
    opacity: 0.9
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
.duration-100 {
    transition-duration: 100ms
}
.duration-150 {
    transition-duration: 150ms
}
.duration-200 {
    transition-duration: 200ms
}
.duration-300 {
    transition-duration: 300ms
}
.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1)
}
.ease-out {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}
.bg-action-divider {
    background-color: #f5f5f5
}
.bg-danger {
    background-color: #f56c6c
}
.shadow-card {
    box-shadow: 0 2px 12px 0 var(--tui-shadow-color)
}
.text-brand {
    color: #667eea
}
.text-title {
    color: #323233
}
.text-desc {
    color: #969799
}
.text-white {
    color: #ffffff
}
.text-indigo {
    color: #4f46e5
}
.transition-bg {
    transition-property: background-color
}
.last\:mr-0:last-child {
    margin-right: 0px
}
.last\:border-b-0:last-child {
    border-bottom-width: 0px
}
.focus\:bg-white:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}
.active\:scale-90:active {
    --tw-scale-x: .9;
    --tw-scale-y: .9;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.active\:scale-95:active {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
.active\:bg-\[\#909399\]:active {
    --tw-bg-opacity: 1;
    background-color: rgb(144 147 153 / var(--tw-bg-opacity, 1))
}
.active\:bg-black\/5:active {
    background-color: rgb(0 0 0 / 0.05)
}
.active\:bg-white:active {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}
.active\:opacity-70:active {
    opacity: 0.7
}
